<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet" href="style/layout.css")
body
    ul
        li
            a(href="/students") 学生列表
        li
            a(href="/users") 用户列表
        li
            a(href="") #{userinfo}
    div(class="clear")
    block content